* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "Montserrat-Light";
}

@font-face {
  font-family: "Siracha-Regular";
  src: url("../assets/font/Sriracha-Regular.ttf");
}
@font-face {
  font-family: "Montserrat-Light";
  src: url("../assets/font/Montserrat-Light.ttf");
}
h1, h2, h3, h4 {
  font-family: "Siracha-Regular", sans-serif;
  color: #591e91;
  text-align: center;
  padding: 20px;
}

h3 {
  font-size: 1.5rem;
}

h5 {
  color: rgb(12, 3, 94);
  text-align: center;
  height: 70px;
  padding: 0.5px;
  margin: 5px 200px;
  font-size: medium;
}

#top {
  text-align: center;
}

header {
  padding: 0%;
  background-color: rgb(14, 212, 247);
  height: auto;
}

.logo {
  width: 100px;
  border-radius: 50%;
}

nav {
  text-align: center;
}

.pie {
  width: 100%;
  padding: 0px;
  background-color: rgb(14, 212, 247);
  height: 50%;
}

.redes .social {
  display: inline-block;
  text-align: center;
  height: 50%;
  padding: 0px;
  margin: 10% 10%;
  background-color: rgb(14, 212, 247);
}

.imagenlogo {
  margin-left: 15%;
  position: relative;
}

footer {
  background-color: rgb(14, 212, 247);
  height: auto;
}

.menu {
  background: linear-gradient(#040735, rgb(14, 212, 247), #040735);
  color: white;
  list-style-type: none;
  padding: 0;
  width: 100%;
  margin: 20px auto;
}
.menu .item {
  display: inline-block;
  position: relative;
  font-size: 2rem;
  text-align: center;
}
.menu .item :hover {
  background-color: gold;
  color: rgb(14, 50, 210);
  border-radius: 30%;
}
.menu .item a {
  color: #1b0a2b;
  text-decoration: none;
  font-weight: bolder;
  display: inline-block;
  padding: 30px;
}

.historia {
  background-color: gold;
  width: 100%;
  padding: 2px;
}

.galeria {
  background-color: rgb(14, 212, 247);
}

.imag img {
  width: 250px;
  height: 180px;
  border: double 2px grey;
}
.imag img:hover {
  transition: all 1s ease-out;
  opacity: 1;
  border: solid 2px rgb(6, 5, 5);
}
.imag img:active {
  transition: all 2s ease-out;
  transform: scale(3, 3);
}

.fotos {
  background-color: rgb(14, 212, 247);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  transition: all 1s ease-out;
}

.salas {
  background-color: rgb(14, 212, 247);
}

.container .contenido {
  padding: 1%;
}
.container .row {
  padding: 1%;
}
@media screen and (max-width: 600px) {
  .container .row {
    padding: 3%;
    display: flex;
    text-align: justify;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.contacto {
  background-color: gold;
  width: 70%;
  margin: 2% 20%;
  padding: 1px;
}

.form {
  background-color: rgb(14, 212, 247);
  height: 50%;
  width: 100%;
  padding: 5%;
}