<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="../css/estilo.css">
    <link rel="shortcut icon" href="/assets/img/favicon-32x32.png">
</head>
<body class="form">
       
        <header class="navBack">
            
            <nav id="top">
                <ul class="menu">
                    <li class="item"><a href="../views/historia.html">Historia</a></li>
                    <li class="item"><a href="../views/galeria.html">Galeria</a></li>
                    <li class="item"><a href="../views/salas.html">Salas</a></li>    
                    <li class="item"><a href="../views/contacto.html">Contacto</a></li>
                </ul> 
            </nav>
            <h1>Jardin Barriletes</h1>
        </header>
    <hr>
    <main class="contacto">
        <form action="">
            <fieldset>
                <legend>Datos de Contacto</legend>
                <br>
                <div>
                    <label for="name">Nombre completo:</label>
                    <input type="text" name="name">
                </div>
                <br>
                <div>
                    <label for="direccion">Direccion:</label>
                    <input type="text" name="direccion">
                </div>
                <br>
                <div>
                    <label for="telefono">N° de telefono: *</label>
                    <input type="number" name="telefono" required;>
                </div>
                <br>
                <div>
                    <label for="email">Direccion de Email *</label>
                    <input type="email" name="email" required>
                </div>
                <br>
                <div>
                    <label for="sala">Sala:</label>
                    <input type="radio" name="sala" value="12">1 y 2 Años
                    <input type="radio" name="sala" value="3">3 Años
                </div>
                <br>
                         
                <div>
                    <label for="consulta">Consulta:</label><br>
                    <textarea name="consulta" id="" cols="50" rows="5"></textarea>
                </div>
                <br>
                <div>
                    <input type="submit" value="Enviar datos">
                    <input type="reset" value="Borrar datos"> 
                </div>
            </fieldset>

        </form>
    </main>
    <footer class="piecontacto" >
        <a href="../index.html">
            <h4>volver a Inicio</h4>
        </a>
        <div>
			<ul class="redes">
				<li class="social">
					
					<p>Jardinbarriletes@hotmail.com</p>
				</li>
				<li class="social">
					
					<a href="https://www.facebook.com/jardinmaternoinfantil.barriletes">Facebook</a>
				</li>
				<li class="social">
					<p>03456-15445566</p>
				</li>
			</ul>
		</div>
	</footer	>
</body>
</html>