<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Historia</title>
	<link rel="stylesheet" href="../css/estilo.css">
	<link rel="shortcut icon" href="/assets/img/favicon-32x32.png">
</head>
<body>

		<header class="navBack">
			
			<nav id="top">
			<ul class="menu">
				<li class="item"><a href="../views/historia.html">Historia</a></li>
				<li class="item"><a href="../views/galeria.html">Galeria</a></li>
				<li class="item"><a href="../views/Salas.html">Salas</a></li>    
				<li class="item"><a href="../views/contacto.html">Contacto</a></li>
			</ul> 
		</nav>
		<h1>
			Nuestra historia
		</h1>
	</header>
	<main class="historia">
		<h5>
			El Jardin Materno Infantil Barriletes se crea en el año 2009 .
		</h5>
		<h5>	
			A partir de una trayectoria recorrida en el nivel inicial ,surge la iniciativa de brindar un espacio educativo para niños pequeños, hasta los 4 años , dónde se conjugará lo pedagógico con el juego y una adecuada estimulación.
		</h5>
		<h5>	
			Desde el 2015 con la obligatoriedad de sala de 4 años , los niños que concurren lo hacen en doble jornada, media en una escuela y a contra turno en el jardín .
		</h5>
		<h5>
			Contamos con un espacio creado especialmente para ellos ; con 2 salas amplias , patio interno , otro al aire libre, cocina y sanitarios.
		</h5>
		<h5>	
			Está abierto todo el año , en enero se brinda la posibilidad de colonia de vacaciones ; ya que creemos que el jardín como espacio donde se brinden todas las oportunidades para el desarrolo integral.
			Actualmente además de responder a las demandas de las familias , por sobre todo este Jardín atiende los intereses de los niños , en tanto que esta pensado para dar respuesta a la necesidad de juego , afecto, resilencia e educación .
		</h5>
		<h5>	  
			Es necesario al hablar de la funcion educativa que brinda el jardín , comprender las posibilidades de aprendizaje de los niños durante los primeros años de vida , aprender a hablar , a caminar , a estar con otros , a compartir un espacio , a reconer signos del ambiente con sus significaciones culturalmente determinadas y a ser cada vez más autónomos . 
		</h5>
	</main>
	<footer class="pie">
		<a href="../index.html">
			<h4>volver a Inicio</h4>
	    </a>
			<div>
				<ul class="redes">
					<li class="social">
						
						<p>Jardinbarriletes@hotmail.com</p>
					</li>
					<li class="social">
						
						<a href="https://www.facebook.com/jardinmaternoinfantil.barriletes">Facebook</a>
					</li>
					<li class="social">
						<p>03456-15445566</p>
					</li>
				</ul>
			</div>
	</footer>
</body>
</html>